  <nz-card nzBordered='false'>
    <form nz-card [formGroup]="editForm">
      <div nz-row>
        <h2>Chi tiết hồ sơ</h2>
      </div>
      <div nz-row>
        <button nz-button nzType="primary" class="btn-margin" (click)="submitForm()">
          <i nz-icon nzType="save" nzTheme="outline"></i>Lưu</button>
        <button nz-button nzType="default" class="btn-margin" (click)="goToEdit()">
          <i nz-icon nzType="edit" nzTheme="outline"></i>Sửa</button>
        <button nz-button nzType="default" (click)="goToList()">
          <i nz-icon nzType="close" nzTheme="outline"></i>Hủy bỏ</button>
      </div>
      <nz-card>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ten">Tên nhân viên</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên nhân viên không được bỏ trống.">
              <input nz-input name="ten" type="text" id="ten" formControlName="user_id">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="type" nzRequired>Kiểu hồ sơ</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Kiểu hồ sơ không được bỏ trống.">
              <input nz-input name="type" type="text" id="type" formControlName="type">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="file" nzRequired>Chọn file</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="File không được bỏ trống.">
              <input nz-input name="file" type="text" id="file" formControlName="file">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="nguoiTao" nzRequired>Người tạo</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Người tạo không được bỏ trống.">
              <input nz-input name="nguoiTao" type="text" id="nguoiTao" formControlName="createdBy">
            </nz-form-control>
          </nz-form-item >
      </nz-card>
    </form>
  </nz-card>
