<nz-card>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <div nz-row>
        <h2>Danh sách tài khoản</h2>
      </div>
      <div nz-row>
        <button nz-button nzType="default" class="btn-margin" (click)="reload()">
          <i nz-icon nzType="reload" nzTheme="outline"></i>Tải lại</button>
        <button nz-button nzType="primary" class="btn-margin" (click)="goToCreate()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới</button>
        <button nz-button nzType="primary" class="btn-margin" (click)="deleteAccount()">
          <i nz-icon nzType="delete" nzTheme="outline"></i>Xóa</button>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Tìm kiếm ..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
</nz-card>
<nz-card>
  <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" [nzLoading]="isLoading"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
      <tr>
        <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>
        <th>STT</th>
        <th>Email</th>
        <th>Chức năng</th>
        <th>Người tạo</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let i = index">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{i + 1}}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.role_id}}
        </td>
        <td>{{ data.createdBy}}</td>
        <td>
          <i class="mr-2" style="font-size: 16px; color:#28B463" nz-icon nz-popover
            nzPopoverContent="Chi tiết tài khoản" (click)="goToDetail(data.id)" nzType="info-circle"
            nzTheme="outline"></i>
          <i class="mr-2" style="font-size: 16px; color:#D35400" nz-icon nz-popover nzPopoverContent="Sửa tài khoản"
            nzType="edit" nzTheme="outline"></i>
          <i class="mr-2" style="font-size: 16px; color:#A93226" nz-icon nz-popover nzPopoverContent="Reset mật khẩu"
            nzType="undo" nzTheme="outline"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>