  <nz-card nzBordered='false'>
    <form nz-form [formGroup]="editForm">
      <div nz-row>
        <h2>Thêm mới sự kiện</h2>
      </div>
      <div nz-row>
        <button nz-button nzType="primary" class="btn-margin">
          <i nz-icon nzType="save" nzTheme="outline"></i>Lưu</button>
        <button nz-button nzType="default" class="btn-margin" (click)="goToEdit()">
          <i nz-icon nzType="edit" nzTheme="outline"></i>Sửa</button>
        <button nz-button nzType="default" (click)="goToList()">
          <i nz-icon nzType="close" nzTheme="outline"></i>Hủy bỏ</button>
      </div>
      <nz-card>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ten">Tên sự kiện</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên sự kiện không được bỏ trống.">
              <input nz-input name="ten" type="text" id="ten" formControlName="tenSuKien">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="theLoai" nzRequired>Thể loại sự kiện</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Thể loại sự kiện không được bỏ trống.">
              <input nz-input name="theLoai" type="text" id="theLoai" formControlName="theLoaiSuKien">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="sl" nzRequired>Số lượng người tham gia</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Số lượng người tham gia không được bỏ trống.">
              <input nz-input name="sl" type="text" id="sl" formControlName="slNguoiThamGia">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="moTa">Mô tả</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="moTa" type="text" id="moTa" formControlName="moTa">
            </nz-form-control>
          </nz-form-item >
      </nz-card>
    </form>
  </nz-card>
