<page-header-wrapper>
  <nz-card nzBordered='false'>
    <form nz-form [formGroup]="editForm">
      <div nz-row>
        <h2>Chi tiết tài khoản</h2>
      </div>
      <div nz-row>
        <app-button-save></app-button-save>
        <app-button-edit (onClick)="goToEdit()"></app-button-edit>
        <app-button-cancel (onClick)="goToList()"></app-button-cancel>
      </div>
      <nz-card>
        <div nz-row>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="id_nv">ID Nhân viên</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="ID nhân viên không được bỏ trống.">
              <input nz-input name="id_nv" type="text" id="id_nv" formControlName="idNhanVien">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email" nzRequired>Email</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Email không được bỏ trống">
              <input nz-input name="email" type="email" id="email" formControlName="email">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="mk" nzRequired>Mật khẩu</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Mật khẩu không được bỏ trống">
              <input nz-input name="mk" type="number" id="mk" formControlName="matKhau">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="quyen" nzRequired>Phân quyền</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Phân quyền không được bỏ trống">
              <input nz-input name="quyen" type="number" id="quyen" formControlName="phanQuyen">
            </nz-form-control>
          </nz-form-item >
        </div>
  
      </nz-card>
    </form>
  </nz-card>
</page-header-wrapper>
