<page-header-wrapper>
  <nz-card nzBordered='false'>
    <form nz-form [formGroup]="createForm">
      <div nz-row>
        <h2>Thêm mới nhân viên</h2>
      </div>
      <div nz-row>
        <app-button-save></app-button-save>
        <app-button-cancel (onClick)="backList()"></app-button-cancel>
      </div>
      <nz-card>
        <div nz-row>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ten">Tên</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên không được bỏ trống.">
              <input nz-input name="ten" type="text" id="ten" formControlName="ten">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="chucvu" nzRequired>Chức vụ</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Chức vụ không được bỏ trống.">
              <input nz-input name="chucvu" type="text" id="chucvu" formControlName="chucVu">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="ngaysinh" nzRequired>Ngày sinh</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Ngày sinh không được bỏ trống.">
              <input nz-input name="ngaysinh" type="text" id="ngaysinh" formControlName="ngaySinh">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">Email</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="email" type="email" id="email" formControlName="email">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="sdt">Số điện thoại</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="sdt" type="number" id="sdt" formControlName="sdt">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="diachi">Địa chỉ</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="diachi" type="text" id="diachi" formControlName="diaChi">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="gioitinh">Giới tính</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="gioitinh" type="text" id="gioitinh" formControlName="gioiTinh">
            </nz-form-control>
          </nz-form-item >
        </div>
  
      </nz-card>
    </form>
  </nz-card>
</page-header-wrapper>
