<nz-card>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <div nz-row>
        <h2>Danh sách sản phẩm</h2>
      </div>
      <div nz-row>
        <button nz-button nzType="default" class="btn-margin" (click)="reload()">
          <i nz-icon nzType="reload" nzTheme="outline"></i>Tải lại</button>
        <button nz-button nzType="primary" class="btn-margin" (click)="goToCreate()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới</button>
        <button nz-button nzType="primary" class="btn-margin" (click)="deleteProduct()">
          <i nz-icon nzType="delete" nzTheme="outline"></i>Xóa</button>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Tìm kiếm ..." />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
</nz-card>
<nz-card>
  <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzLoading]="isLoading">
    <thead>
      <tr>
        <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th>Loại SP</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let i = index">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{i + 1}}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.price_in }}</td>
        <td>{{ data.price_out }}</td>
        <td>
          <ng-container [ngSwitch]="data.product_type">
            <ng-container *ngSwitchCase="0">
              SP Loại 1
            </ng-container>
            <ng-container *ngSwitchCase="1">
              SP Loại 2
            </ng-container>
            <ng-container *ngSwitchCase="2">
              SP Loại 3
            </ng-container>
            <ng-container *ngSwitchCase="3">
              SP Loại 4
            </ng-container>
          </ng-container>
        </td>
        <td (click)="getDetail(data)">
          <i class="icon-info" style="font-size: 16px; color:#28B463 " nz-icon nz-popover
            nzPopoverContent="Chi tiết tài khoản" nzType="info-circle" nzTheme="outline"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>