<div class="container-fluid">
  <div class="content">
    <div class="wap-img">
      <img src="../../../../assets/image/logo.jpg" style="width: 100px;">
    </div>
    <div>
      <form [formGroup]="formLogin">
        <p>
          <input class="input-text" placeholder="Email" formControlName="email">
        </p>
        <ng-container *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <ng-container *ngIf="email.errors.required">
            <p style="color: red;">
              (*) Email là trường bắt buộc.
            </p>
          </ng-container>
          <ng-container *ngIf="email.errors.email">
            <p style="color: red;">
              (*) Chưa đúng định dạng email.
            </p>
          </ng-container>
        </ng-container>
        <p>
         <input class="input-text" placeholder="Password" formControlName="password">
        </p>
        <ng-container *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <ng-container *ngIf="password.errors.required">
            <p style="color: red;">
              (*) Password là trường bắt buộc.
            </p>
          </ng-container>
          <ng-container *ngIf="password.errors.minlength">
            <p style="color: red;">
              (*) Password có độ dài nhỏ nhất là 6 kí tự.
            </p>
          </ng-container>
        </ng-container>
        <div class="wap-btn">
          <button type="submit" (click)="submitForm()">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>