<nz-card [nzBordered]="false">
  <nz-row>
    <div nz-col nzLg="12" style="padding-left: 4px; padding-right: 4px;">
      <nz-card [nzTitle]="'dashboard.label.statistics-by-order' | translate" [nzLoading]="isDataLoading">
        <p>
          {{ 'dashboard.label.statistics-by-order.number-order' | translate }}: <b>{{ dashboardModel.saOrderCount }}</b>
        </p>
        <p>
          {{ 'dashboard.label.statistics-by-order.total-amount-order' | translate }}:
          <b>{{ dashboardModel.saOrderAmount | number }}</b>
        </p>
      </nz-card>
    </div>
    <div nz-col nzLg="12" style="padding-left: 4px; padding-right: 4px;">
      <nz-card [nzTitle]="'dashboard.label.manufacture' | translate" [nzLoading]="isDataLoading">
        <p>
          {{ 'dashboard.label.manufacture.number-manufacture' | translate }}:
          <b>{{ dashboardModel.productionCount }}</b>
        </p>
        <p>
          {{ 'dashboard.label.manufacture.total-money' | translate }}:
          <b>{{ dashboardModel.productionAmount | number }}</b>
        </p>
      </nz-card>
    </div>
  </nz-row>
  <nz-row>
    <div nz-col nzLg="12" style="padding-left: 4px; padding-right: 4px;">
      <nz-card [nzTitle]="'dashboard.chart1.tittle' | translate">
        <div class="chartdiv" id="chartdiv-chart1"></div>
      </nz-card>
    </div>
    <div nz-col nzLg="12" style="padding-left: 4px; padding-right: 4px;">
      <nz-card [nzTitle]="'dashboard.chart2.tittle' | translate">
        <div class="chartdiv" id="chartdiv-chart2"></div>
      </nz-card>
    </div>
  </nz-row>
</nz-card>
