.btn-add {
    margin-bottom: 10px;
}

.icon-info {
    margin-right: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    .table-nn {
        width: 45%;
    }
    .table-nl {
        width: 45%;
    }
}