<nz-card nzBordered='false'>
  <form nz-form [formGroup]="editForm">
    <div nz-row>
      <h2>Chi tiết nhân viên</h2>
    </div>
    <div nz-row>
      <button nz-button nzType="primary" class="btn-margin">
        <i nz-icon nzType="save" nzTheme="outline"></i>Lưu</button>
      <button nz-button nzType="default" class="btn-margin" (click)="goToEdit()">
        <i nz-icon nzType="edit" nzTheme="outline"></i>Sửa</button>
      <button nz-button nzType="default" (click)="backList()">
        <i nz-icon nzType="close" nzTheme="outline"></i>Hủy bỏ</button>
    </div>
    <nz-card>
      <nz-divider nzText="Thông tin nhân viên" nzOrientation="left"></nz-divider>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ten">Tên</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên không được bỏ trống.">
              <input nz-input name="ten" type="text" id="ten" formControlName="ten">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="chucvu" nzRequired>Chức vụ</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Chức vụ không được bỏ trống.">
              <input nz-input name="chucvu" type="text" id="chucvu" formControlName="chucVu">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="ngaysinh" nzRequired>Ngày sinh</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Ngày sinh không được bỏ trống.">
              <input nz-input name="ngaysinh" type="text" id="ngaysinh" formControlName="ngaySinh">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">Email</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="email" type="email" id="email" formControlName="email">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="sdt">Số điện thoại</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="sdt" type="number" id="sdt" formControlName="sdt">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="diachi">Địa chỉ</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="diachi" type="text" id="diachi" formControlName="diaChi">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="gioitinh">Giới tính</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="gioitinh" type="text" id="gioitinh" formControlName="gioiTinh">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-divider nzText="Danh sách hồ sơ" nzOrientation="left"></nz-divider>
        <div nz-col nzSpan="24">
          <nz-list nzGrid>
            <div nz-row [nzGutter]="16">
              <div nz-col [nzSpan]="6">
                <nz-list-item>
                  <nz-card nzTitle="CV">
                    <i (click)="showModalCV()" class="font-size-3" style="color: #2471A3" nz-icon nzType="file-pdf" nzTheme="outline"></i>File CV
                  </nz-card>
                </nz-list-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-list-item>
                  <nz-card nzTitle="Bảo hiểm">
                    <i (click)="showModalBH()" class="font-size-3" style="color: #F39C12" nz-icon nzType="file-pdf" nzTheme="outline"></i>File Bảo hiểm
                  </nz-card>
                </nz-list-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-list-item>
                  <nz-card nzTitle="Hồ sơ xin việc">
                    <i (click)="showModalXV()" class="font-size-3" style="color: #943126;" nz-icon nzType="file-pdf" nzTheme="outline"></i>File xin việc
                  </nz-card>
                </nz-list-item>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-list-item>
                  <nz-card nzTitle="Đơn xin nghỉ việc">
                    <i class="font-size-3" style="color: #7FB3D5 " nz-icon nzType="file-pdf" nzTheme="outline"></i>Đơn xin nghỉ việc
                  </nz-card>
                </nz-list-item>
              </div>
            </div>
          </nz-list>
        </div>
      </div>
    </nz-card>
  </form>
</nz-card>

<!-- CV -->
<nz-modal [(nzVisible)]="isVisibleCV" nzTitle="CV" (nzOnCancel)="handleCancelCV()" (nzOnOk)="handleOkCV()">
  <p>Content CV file</p>
</nz-modal>

<!-- Bảo hiểm -->
<nz-modal [(nzVisible)]="isVisibleBH" nzTitle="Bảo hiểm" (nzOnCancel)="handleCanCelBH()" (nzOnOk)="handleOKBH()">
  <p>Content BH file</p>
</nz-modal>

<!-- Xin việc -->
<nz-modal [(nzVisible)]="isVisibleXV" nzTitle="Đơn xin việc" (nzOnCancel)="handleCancelXV()" (nzOnOk)="handleOKXV()">
  <p>Content xin việc</p>
</nz-modal>