  <nz-card nzBordered='false'>
    <form nz-form [formGroup]="createForm">
      <div nz-row>
        <h2>Thêm mới hóa đơn</h2>
      </div>
      <div nz-row>
        <button nz-button nzType="primary" class="btn-margin">
          <i nz-icon nzType="reload" nzTheme="outline"></i>Tải lại</button>
        <button nz-button nzType="primary" class="btn-margin" (click)="goToCreate()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới</button>
      </div>
      <nz-card>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ten">Tên người tạo</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên người tạo không được bỏ trống.">
              <input nz-input name="ten" type="text" id="ten" formControlName="tenNguoiTao">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="tenSP" nzRequired>Tên sản phẩm</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên sản phẩm không được bỏ trống.">
              <input nz-input name="tenSP" type="text" id="tenSP" formControlName="tenSP">
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="sl" nzRequired>Số lượng</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Số lượng không được bỏ trống.">
              <input nz-input name="sl" type="text" id="sl" formControlName="soLuong">
            </nz-form-control>
          </nz-form-item >
  
      </nz-card>
    </form>
  </nz-card>
