<form nz-form role="form" class="d-flex-center" [formGroup]="form">
  <div class="w-25">
    <h2>{{'app.forgot-password.title' | translate }}</h2>
    <div nz-row class="mt-2">
      <div nz-row class="pt-2">
        <nz-form-item>
          <nz-form-control nzErrorTip="{{'app.register-account.label.email.require' | translate}}">
            <input nz-input name="email" formControlName="email" email
              placeholder="{{'app.forgot-password.email.placeholder' | translate}}" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row class="pt-2">
        <app-button-base (onClick)="forgotPassword()" [loading]="isSubmitting"
          text="{{'app.forgot-password.btn.send' | translate}}" iconType="" buttonClass="w-100"></app-button-base>
      </div>
      <div nz-row class="text-left" (click)="backToLogin()">
        <a><i class="pl-1" nz-icon nzType="arrow-left" nzTheme="outline"></i>
          {{'app.forgot-password.link.back' | translate}}</a>
      </div>
    </div>
  </div>
</form>
