<app-select [formControl]="ngControl.control" [name]="name" [span]="span" labelContent="{{ labelContent | translate }}"
  placeHolder="{{placeHolder | translate }}" [disabled]="disabled" [errorTip]="errorTip" [data]="districts"
  [valueField]="valueField" labelField="tenQuanHuyen" (onSearch)="onSearchDistrict($event)"
  (onClickOpenSearch)="onClickOpenSearchDistrict()" [openSearchModal]="false"
  (onSelectChange)="handleSelectChange($event)" [getObjectValue]="getObjectValue" [labelHorizontal]="labelHorizontal"></app-select>
