<page-header-wrapper>
  <nz-card nzBordered='false'>
    <form nz-form [formGroup]="editForm">
      <div nz-row>
        <h2>Thêm mới sự kiện</h2>
      </div>
      <div nz-row>
        <app-button-save></app-button-save>
        <app-button-edit (onClick)="goToEdit()"></app-button-edit>
        <app-button-cancel (onClick)="goToList()"></app-button-cancel>
      </div>
      <nz-card>
        <div nz-row>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ten">Tên sự kiện</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Tên sự kiện không được bỏ trống.">
              <input nz-input name="ten" type="text" id="ten" formControlName="tenSuKien">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="theLoai" nzRequired>Thể loại sự kiện</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Thể loại sự kiện không được bỏ trống.">
              <input nz-input name="theLoai" type="text" id="theLoai" formControlName="theLoaiSuKien">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="sl" nzRequired>Số lượng người tham gia</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Số lượng người tham gia không được bỏ trống.">
              <input nz-input name="sl" type="text" id="sl" formControlName="slNguoiThamGia">
            </nz-form-control>
          </nz-form-item >
        </div>
        <div nz-row>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="moTa">Mô tả</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="moTa" type="text" id="moTa" formControlName="moTa">
            </nz-form-control>
          </nz-form-item >
        </div>
      </nz-card>
    </form>
  </nz-card>
</page-header-wrapper>
